.home-page {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(135deg, #f8f9ff 0%, #e8ecff 100%);
  text-align: center;
}

.logo-text {
  color: #e07afaa4;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-title {
  margin-top: 20px;
  font-size: 72px;
  font-weight: 800;
  color: #222;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 30px;
  color: #5b5a5a;
  margin-bottom: 20px;
}

.description {
  max-width: 700px;
  margin: 0 auto;
  color: #666;
  line-height: 1.7;
  font-size: 18px;
}

.games-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #e07afaa4;
}

.games-grid {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

.games-header {
  max-width: 1300px;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level-section {
  max-width: 1300px;
  margin: 70px auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level-box {
  display: inline-block;
  padding: 15px 35px;
  margin-top: 60px;
  margin-bottom: 40px;
  border-radius: 16px;
  background: #e07afaa4;
  font-size: 28px;
  font-weight: 700;
  box-shadow: 0 10px 8px rgba(224, 122, 250, 0.436);
}

.reset-button {
  border: none;
  background: #5f56561a;
  color: #e07afaa4;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 15px;
}
